.main {
  width: 100vw;
  height: 100%;
  display:flex;
  flex-direction:column;
}
.contexapi {
  background-color: lightgreen;
  border: 2px solid black;
}
.hook {
  background-color: lightblue;
  border: 2px solid black;

}

h1 {
  color: red;
}
h2 {
  color: blue;
}
h3 {
  color: darkgreen;
}
h4 {
  color: brown;
}
